@page
@model FormModel
@{

}

<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<style>
    input {
        border: none;
        background-color: transparent;
    }

    .fa-envelope {
        padding: 15px;
    }

    .fa-user {
        padding: 15px;
    }

    .input-group {
        border: 1px solid blue;
    }
</style>
<div class="container">
    <form action="">
        <div class="form-group">
            <!--Name-->
            <div class="input-group">
                <span>
                    <i class="fa fa-user prefix"></i>
                </span>
                <input type="text"
                       class="form-control"
                       placeholder="Please enter your friend's name">
            </div>

            <!--Email-->
            <br>
            <div class="input-group">
                <span>
                    <i class="fa fa-envelope prefix"></i>
                </span>
                <input type="text" class="form-control"
                       placeholder="Friend's email"
                       aria-describedby="basic-addon1">
            </div>
            <br>
            <!--Subject+Message-->
            <input name="Subject"
                   type="text"
                   placeholder="Subject"
                   class="form-control"
                   required>
            <br>
            <textarea class="form-control"
                      rows="5"
                      placeholder="Type your message here"
                      id="comment"></textarea>

            <!--Submit-->
            <br>
            <button type="submit"
                    class="btn btn-primary">
                Submit
            </button>
        </div>


    </form>
</div>

