body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    padding-top: 50px;
    padding-bottom: 20px;
    background: #fff; 
    color: #000; 
}

a{

}
    a:link,
    a:visited,
    a:hover, a:active{

    }

.carousel-control.right {
    background-image:none;
}
.carousel-control.left {
    background-image: none;
}

.wrapper {
}

.photo {
    width:auto;
    border: 5px solid #000;
    background: pink;
    text-align: center;
    float: right; 
}

.photo img {
    width: 700px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
